@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
* {
  box-sizing: border-box;
}



.footer {
  display: flex;
  justify-content: space-around;
  background-color: #00003C;
  color: #FFFFFF;
  padding: 20px 10px;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); 
  position: absolute;

  width: 100%;
  font-family:'Inter','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  margin: 10px 0; 
}

.footer-logo {
  max-height: 80px;
  margin-bottom: 10px;
}

.footer-link {
  margin: 0 15px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s, transform 0.3s; 
}

.footer-link:hover {
  color: #CCD6F6; 
  transform: scale(1.1);
}
.footer-company-info p{
  font-size: 16px;
  }
@media (max-width: 768px) {
  .footer-links {
    flex-direction: column; 
  }
  .footer-company-info p{
    font-size: 13px;
    }
    .footer-company-info {
    
      font-size: 13px;
    }
  .footer-link {
    margin: 5px 0;
    font-size: 13px;
  }
  .footer-content p{
    font-size: 13px;
  }
}


.footer-company-info {
  text-align: left; /* Align text to the left */
  max-width: 500px; /* Set a max-width for readability */
  line-height: 1.6;
  font-size: 14px;
}

.footer-company-info a {
  color: #4fd1c5;
  text-decoration: none;
  transition: color 0.3s;

}

.footer-company-info a:hover {
  color: #2ca9a1;
  text-decoration: underline;
}
.footer-company-info h1{
  color: rgb(216, 221, 43);
}




.footer-company-info span{
  color: #4fd1c5;
  text-decoration: none;
  transition: color 0.3s;
}